body { background: #a58d0b; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-uploader-0 { color: #a8bbf9; font-size: 16px; margin-bottom: 5px; }
.block-invoice-1 { color: #928132; font-size: 13px; margin-bottom: 5px; }
.block-cache-2 { color: #d79724; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #542f58; font-size: 14px; margin-bottom: 5px; }
.block-cache-4 { color: #fa9115; font-size: 15px; margin-bottom: 5px; }